<html>

<head>
  <title>App Insights OpenTelemetry Tester Error</title>
  <link rel='icon' type='image/x-icon' href='{{ favicon_path }}' />
</head>

<body>
  <div>Hostname: <b>{{ hostname }}</b></div>
  <div>{{ error_message }}</b></div>
</body>

</html>