<html>

<head>
  <title>App Insights Opentelemetry Tester</title>
  <link rel='icon' type='image/x-icon' href='{{ favicon_path }}' />
</head>

<body>
  <h1>App Insights Opentelemetry Tester</h1>
  <div>Hostname: <b>{{ hostname }}</b></div>

  <h2>Metrics</h2>
  <ul>
    <li><a href='/metrics/counter/add'>Increment Metric Counter</a></li>
    <li><a href='/metrics/counter/sub'>Decrement Metric Counter</a></li>
    <li><a href='/metrics/gauge/random'>Set Metric Gauge to a random value</a></li>
    <li><a href='/metrics/histogram/random'>Add random value to a Metric Histogram</a></li>
  </ul>

  <h2>Logs</h2>
  <ul>
    <li><a href='/logs/ERROR'>Add an ERROR log statement</a></li>
    <li><a href='/logs/WARN'>Add a WARN log statement</a></li>
    <li><a href='/logs/INFO'>Add an INFO log statement</a></li>
    <li><a href='/logs/DEBUG'>Add a DEBUG log statement</a></li>
  </ul>

  <h2>Tracing</h2>
  <ul>
    <li><a href='/trace/backend/start'>Backend Tracing</a></li>
  </ul>
</body>

</html>