<html>

<head>
  <title>Test Logging {{ level }}</title>
  <link rel='icon' type='image/x-icon' href='{{ favicon_path }}' />
</head>

<body>
  <div>Hostname: <b>{{ hostname }}</b></div>
  <div>Added a {{ level }} log with a following random datum: <b>{{ r }}</b></div>
</body>

</html>