<html>

<head>
  <title>Test Metric {{ type }} {{ operation }}</title>
  <link rel='icon' type='image/x-icon' href='{{ favicon_path }}' />
</head>

<body>
  <div>Hostname: <b>{{ hostname }}</b></div>
  <div>{{ desc }}{% if r %}<b>{{ r }}</b>{% endif %}</div>
  <div><i>{{ hint }}</i></div>
</body>

</html>