<html>

<head>
  <title>Test Trace</title>
  <link rel='icon' type='image/x-icon' href='{{ favicon_path }}' />
</head>

<body>
  <div>Hostname: <b>{{ hostname }}</b></div>
  <div>Backend tracing is done, inspect your tracing tool to see the details.</b></div>
</body>

</html>